/*  your css code here. If applicable */
body{
  background-color:rgb(204,204,204) ;
}
.htag{
text-align: center;
}
.list{
  list-style-type: none;
  background-color: white;
  
  }
  li{
    float: up down;
    background-color: white;
  }
  .white1{
    background-color: white;
    border-radius: 100px;
  }
  .white2{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    list-style-type: none                       ;
    background-color: white;
    border: solid;
    
  }
  .player_one{
    margin: 0%;
   
    overflow: hidden;
    list-style-type: none                       ;
    background-color:rgb(255,255,255);
	   border-radius: 0%;
	   padding: 0%;
    border: solid;
    
  }
  .player_two{
    margin: 0%;
    background-color:rgb(255,255,255);
	   border-radius: 0%;
	   padding: 0%;
    overflow: hidden;
    list-style-type: none                       ;
    background-color: white;

  }
  .h3tag{
    background-color: white;
    text-align: center;
  }
  .ta{
    background-color: white;
  }